/*navigation bar*/
nav {
    background-color: #EBB3B0;
    background-attachment: fixed;
    height: 40px;
    margin: 10px;
    color: black;
    clear: both;
    font-family: Caviar;
    text-decoration: none;
}

a {
    background-color: #EBB3B0;
    background-attachment: fixed;
    height: 40px;
    margin: 10px;
    color: black;
    clear: both;
    font-family: Caviar;
    text-decoration: none;
    top: 8px;
    position: relative;
}

/*font*/
@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarB;
    src: url(CaviarDreams_Bold.ttf);
}

b {
    font-family: CaviarB;
}

h3,
h2,
h1,
h4,
li {
    font-family: Caviar;
    color: black;
}

p {
    font-family: Caviar;
    width: 70%;
}

/*info*/
span {
    f
}

body {
    background-color: #FFF0F0;
}

td {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
}

/*position*/
.tpos {
    padding-left: 185px;
}

.position {
    position: relative;
    right: 70px;
}

/*animation*/
header {
    background-image: url(ive1.png);
    background-size: contain;
    width: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    animation-name: Adranimation;
    animation-duration: 12s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes Adranimation {
    0% {
        background-image: url(j1.png);
    }

    20% {
        background-image: url(j2.png);
    }

    40% {
        background-image: url(j3.png);
    }

    80% {
        background-image: url(j4.png);
    }

    100% {
        background-image: url(j5.png);
    }
}

/*images*/
article {
    background-image: url(h1Copy.png);
    min-height: 605px;
    background-size: cover;
    background-attachment: fixed;
    font-family: Caviar;

}

section {
    background-image: url(history.png);
    min-height: 605px;
    background-size: cover;
    background-attachment: fixed;
}

span {
    background-image: url("era.png");
    min-height: 605px;
    background-size: cover;
    background-attachment: fixed;
}

aside {
    background-image: url(ww.png);
    min-height: 605px;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-image: url(city.png);
    min-height: 605px;
    background-size: cover;
    background-attachment: fixed;
}

/*footer para todas las paginas*/
footer {
    width: 100%;
    height: 40px;
    margin: 10px;
    color: black;
    clear: both;
    font-family: Caviar;
    text-decoration: none;

}

.footer1 {

    left: 0;
}